<div class="flex flex-col h-full w-58">

  <header class="bg-indigo-600 border-b-amber-50 border-b p-4 m-0">
    <h2 class="text-center pb-2">POC-SdT Menu</h2>
  </header>
  <nav class="bg-[#002b5c] h-[calc(100%-32px)] flex flex-col justify-between py-4 px-2">
    <div>
      <ul class="flex flex-col gap-2">
        <li class="py-2 text-center m-0 border-b border-t border-gray-600 hover:bg-[#002b5c] text-slate-100"><a routerLink="/dashboard/employees">Employees</a></li>
        <li class="py-2 text-center m-0 border-b border-t border-gray-600 hover:bg-[#002b5c] text-slate-100"><a routerLink="/dashboard/areas" >Areas</a></li>
      </ul>
    </div>
    
    <div class="flex flex-col gap-2">
      <p-button class="w-full self-center contents" label="LogOut" icon="pi pi-sign-out" outlined severity="danger"/>
      <p-button class="w-full self-center contents" label="Profile" icon="pi pi-user" severity="primary" outlined/>
      
    </div>
  </nav>
</div>
