<p-table id="areas-table" [value]="areas" [tableStyle]="{ 'height': '100%' }" class="h-full">
    <ng-template #header>
        <tr class="text-center">
            <th class="w-1/12 text-center">Id</th>
            <th class="w-2/3 text-center">Name</th>
            <th class="w-1/12 text-center">Quantity</th>
            <th class="w-1/12 text-center">Color</th>
            <th class="w-1/6 text-center ">Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-area class="overflow-visible">
        <tr>
            <td class="text-center">{{ area.id }}</td>
            <td class="text-center">
                <label *ngIf="!editing() || id() !== area.id">{{ area.title }}</label>
                <input type="text" [ngModel]="area.title" (ngModelChange)="area.title = $event" *ngIf="editing() && id() === area.id">
            </td>

            <td class="text-center">{{ area.quantity }}</td>
            <td class="text-center">
                <p-colorpicker [(ngModel)]="area.color" format="hex" (ngModelChange)="area.color = $event" [disabled]="!editing() || id() !== area.id"></p-colorpicker>
            </td>
            <td class="flex gap-2 items-center self-end justify-center">
                <ng-container *ngIf="!editing() || id() !== area.id">
                    <button pButton (click)="setEditing(true, area.id)" severity="success">Edit</button>
                    <button pButton (click)="deleteArea(area)" severity="danger">Delete</button>
                </ng-container>
                <ng-container *ngIf="editing() && id() === area.id">
                    <button pButton (click)="setEditing(false, area.id)" severity="danger">Cancel</button>
                    <button pButton (click)="editArea(area)" severity="primary">Save</button>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table> 